<h2 class="header"> <%= @project.name %> </h2>
<h3 class="header"> <%= @ticket.name %> </h2>
<p>
  <%= simple_format @ticket.description %> <!-- simple_format method converts ruby line breaks `\n` to html ones `<br>` -->
</p>
